<div class="sidebar">
  <div class="p-4 m-0 -mx-4 mb-4 bg-gray-100 rounded">
    <h4>About</h4>
    <div>
      <p>
        Gregory A Brewer<br>
        Proud Step Father, Software Engineer, Poker Player, Wolverine<br>
        <a href="mailto:greg@gabrewer.com">greg@gabrewer.com</a>
      </p>
      <p>
        <a href="https://github.com/gabrewer">github.com/gabrewer</a><br>
        <a href="https://twitter.com/gbrewer">twitter.com/gbrewer</a><br>
      </p>
    </div>
  </div>

  <div class="p-4 m-0 -mx-4 mb-4">
    {% capture totalposts %}{{ collections.postsByCategory.size }}{% endcapture %}
    {% for category in collections.postsByCategory %}
      <span style="font-size: {{category | last | size | times: 100 | divided_by: totalposts | plus: 130}}%">
        <a href="/category/{{ category[0] }}/"> {{ category[0] }}</a>
      </span>
    {% endfor %}
  </div>

  <div class="p-4 m-0 -mx-4 mb-4">
    <div class="textwidget">
      <a class="twitter-timeline" data-height="600" href="https://twitter.com/gbrewer?ref_src=twsrc%5Etfw">
        Tweets by gbrewer
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
