<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en" class="text-gray-500 font-sans">
  {%- include "head.liquid" -%}

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    {%- include "navigation.liquid" -%} {%- include "header.liquid" -%}

    <main class="" aria-label="Content">{{ content }}</main>

    {%- include "footer.liquid" -%}

    <script src="" async defer></script>
    <script
      id="dsq-count-scr"
      src="//{{ site.disqus_short_name }}.disqus.com/count.js"
      async
    ></script>
    {% initClipboardJS %}
  </body>
</html>
